.fec{
    color: blue;
}

.fech3{
    color: black;
}

.fech4{
    color: black;
}

body{
    background-image: url("https://www.google.fr/imgres?imgurl=http%3A%2F%2Fwww.dccomics.com%2Fsites%2Fdefault%2Ffiles%2FGalleryComics_1920x1080_20160309_RHOODA_Cv10_56c3d3f3228d51.16190663.jpg&imgrefurl=http%3A%2F%2Fwww.dccomics.com%2Fcomics%2Fred-hoodarsenal-2015%2Fred-hoodarsenal-10&docid=l48fj17yjxVY5M&tbnid=eyoFcgAV1ReqWM%3A&vet=10ahUKEwjbnLi8hojUAhUMchQKHXMmBKMQMwg7KAIwAg..i&w=1920&h=1080&bih=753&biw=1440&q=redhood&ved=0ahUKEwjbnLi8hojUAhUMchQKHXMmBKMQMwg7KAIwAg&iact=mrc&uact=8");
}